<!DOCTYPE html>
<html>
  <head>
    <title>nodejs</title>
  </head>
  <body>
    <nav>
      <div class="wrap">
        <div class="logo">
          <img src="./imgs/logo.png" alt="logo">
        </div>
        <ul class="nav-tab">
          <li class="active">全部</li>
          <li>已完成</li>
          <li>
            排序
            <span>
              <img src="./imgs/triangle.png" alt="triangle">
            </span>
          </li>
        </ul>
        <% if (!isLogin){ %>
        <div class="login-btn">
          <img src="./imgs/github.png" alt="login"> 
          <a href="/auth/github">Github登录</a>
        </div>
        <%} else { %>
        <div class="login-out">
          <div class="person-img">
            <img src="<%= user.avatar %>" alt="person-img">
          </div>
          <div class="person-info">
            <p><%= user.username %></p><a href="/auth/logout">| 注销</a>
          </div>
        </div>
        <% } %>
      </div>
    </nav>
    <% if (!isLogin){ %>
    <div class="before-login">
      <p>Hi Brother</p>
    </div>
    <%} else { %>
    <article>
      <div class="wrap">
        <div class="js-masonry" id="container">
        </div>
      </div>
    </article>
    <div class="add-note">
      <img src="./imgs/addnote.png" alt="addnote">
    </div>
    <% } %>
    <script src="/js/index.js"></script>
  </body>
</html>
